{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 style="text-align: center; margin-bottom: 20px; font-family: 'Fira Sans', sans-serif;">Login</h2>

<form method="post" style="max-width: 400px; margin: 0 auto; padding: 30px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9; box-shadow: 0 4px 12px rgba(0,0,0,0.05); font-family: 'Fira Sans', sans-serif;">
    {% csrf_token %}
    
    
    {{form.as_p}}

    <button type="submit" style="width: 100%; padding: 10px 0; background-color: #00708F ; color: white; border: none; border-radius: 6px; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">
        Login
    </button>
</form>
{% endblock %}
