{% extends 'base.html' %}
{% load static %}

{% block title %}Tasks - {{ project.name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>{{ project.name }}</h2>
  <a href="{% url 'task-create' project.id %}" class="btn btn-success">➕ Add Task</a>
</div>

<ul class="list-group">
  {% for task in page_obj %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="{% if task.is_completed %}task-done{% else %}task-pending{% endif %}">
        {{ task.title }}
        <small class="text-muted"> (due: {{ task.due_date|date:"M d, H:i" }})</small>
      </span>
      {% if task.is_completed %}
        <span class="badge bg-success">Done</span>
      {% else %}
        <span class="badge bg-warning text-dark">Pending</span>
      {% endif %}
    </li>
  {% empty %}
    <li class="list-group-item text-muted">No tasks in this project.</li>
  {% endfor %}
</ul>

<a href="{% url 'projects-list' %}" class="btn btn-outline-secondary mt-4">← Back to Projects</a>




<span> {% include 'components/pagination.html' %} </span>


{% endblock %}